<html>
  <head>
    <title>
      Outlived
    </title>
    <link rel="stylesheet" href="css/datepicker.min.css"></link>
  </head>
  <body>
    <h1>Outlived</h1>

    {{ if .user }}

      <div id="account-div">
        Signed in as {{ .user.Email }}
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
      </div>

      <div id="alive">
        <p>You were born {{ .alive }} days ago.</p>

        {{ if .figures }}
          <p>You have recently outlived:</p>
          <ul>
            {{ range .figures }}
              <li>
                <a href="https://en.wikipedia.org{{ .Link }}" target="_blank">{{ .Name }}</a>,
                {{ .Desc }},
                born {{ .Born }},
                died {{ .Died }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>

    {{ else }}

      {{ if .figures }}

        <p>Today is {{ .todaystr }}. Died on this date:</p>
        <ul>
          {{ range .figures }}
            <li>
              <a href="https://en.wikipedia.org{{ .Link }}" target="_blank">{{ .Name }}</a>,
              {{ .Desc }}.
              <br>
              Born {{ .Born }},
              died {{ .Died }},
              age {{ .YDAge }}
              ({{ .DaysAlive }} days).
            </li>
          {{ end }}
        </ul>

      {{ end }}

      <div id="noaccount-div">
        <form id="email-pw-form">
          <input type="email" id="email" name="email"></input>
          <input type="password" id="password" name="password"></input>
          <button id="signup-button">Sign up</button>
          <button id="login-button">Log in</button>
          <div id="datepicker"></div>
        </form>
      </div>

      <script src="js/datepicker.min.js"></script>

    {{ end }}

  </body>
</html>
