<html>
  <head>
    <title>
      Outlived
    </title>
    <link rel="stylesheet" href="css/datepicker.min.css"></link>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/datepicker.min.js"></script>
    <script src="js/datepicker.en.js"></script>
    <script src="/js/home.js"></script>
  </head>
  <body>
    <h1>Outlived</h1>

    {{ if .user }}

      <div id="account-div">
        Signed in as {{ .user.Email }}
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
      </div>

      <div id="alive">
        <p>You were born {{ call .numprinter .alive }} days ago.</p>

        {{ if .figures }}
          <p>You have recently outlived:</p>
          <ul>
            {{ range .figures }}
              <li>
                <a href="https://en.wikipedia.org{{ .Link }}" target="_blank">{{ .Name }}</a>,
                {{ if .Desc }}
                  {{ .Desc }},
                {{ end }}
                {{ .Born }}&mdash;{{ .Died }}.
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>

      <div id="settings">
        <label for="active">Receive outlived e-mail?</label>
        <input type="checkbox" id="active" name="active" {{ if .user.Active }} checked {{ end }}>
      </div>

    {{ else }}

      <div>
        <form id="login-signup-form" method="POST">
          <label for="email">E-mail address</label>
          <input type="email" id="email" name="email"></input>
          <span id="email-value" style="display: none"></span>
          <button id="signup-button-1" disabled type="button">Sign up</button>
          <button id="login-button-1" disabled type="button">Log in</button>
          <div id="password-div" style="display: none">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"></input>
          </div>
          <button id="login-button-2" type="submit" style="display: none" disabled>Log in</button>
          <div id="datepicker-div" style="display: none">
            <label for="datepicker">Birthdate</label>
            <input id="datepicker" name="born" placeholder="yyyy-mm-dd"></div>
          </div>
          <button id="signup-button-2" type="submit" style="display: none" disabled>Sign up</button>
          <button id="cancel-button" style="display: none" type="button">Cancel</button>
        </form>
      </div>

      {{ if .figures }}

        <p>Today is {{ .todaystr }}. Died on this date:</p>
        <ul>
          {{ range .figures }}
            <li>
              <a href="https://en.wikipedia.org{{ .Link }}" target="_blank">{{ .Name }}</a>,
              {{ if .Desc }}
                {{ .Desc }},
              {{ end }}
              {{ .Born }}&mdash;{{ .Died }}
              (age {{ .YDAge }}).
            </li>
          {{ end }}
        </ul>

      {{ end }}

    {{ end }}

  </body>
</html>
