<html>
  <head>
    <title>
      Outlived
    </title>
  </head>
  <body>
    <h1>Check e-mail</h1>

    <p>
      Activate your Outlived account by following the verification link
      in the e-mail we just sent you.
    </p>

  </body>
</html>
