.App {
  text-align: center;
}

header {
    font-size: xx-large;
    font-weight: bold;
    float: left;
    margin: 1em;
}

.user {
    font-size: smaller;
    float: right;
    margin: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.img128 {
    max-width: 128px;
    height: auto;
}
ul.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20em);
    margin: 0 auto;
    text-align: center;
}
ul.grid li {
    display: inline-block;
    vertical-align: top;
    margin: 1em 2em;
}
a.figure {
    font-weight: bold;
}

#figures {
    clear: both;
}

#today {
    padding-top: 1em;
}
