<html>
  <head>
    <title>
      Outlived
    </title>
    <link rel="stylesheet" href="/static/css/datepicker.min.css"></link>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/static/js/datepicker.min.js"></script>
    <script src="/static/js/datepicker.en.js"></script>
    <script src="/static/js/home.js"></script>
    <style>
      img.img64 {
          max-width: 64px;
          height: auto;
      }
      ul.grid {
          margin: 0 auto;
          text-align: center;
          display: grid;
          grid-template-columns: repeat(auto-fill, 20em);
      }
      ul.grid li {
          display: inline-block;
          vertical-align: top;
          margin: 1em 2em;
      }
    </style>
  </head>
  <body>
    <h1>Outlived</h1>

    {{ if .user }}

      <div id="account-div">
        <form method="POST" action="/logout">
          Signed in as {{ .user.Email }}
          <button type="submit">Logout</button>
          <input type="hidden" name="csrf" value="{{ .csrf }}"></input>
        </form>
      </div>

      <div id="settings">
        <label for="active">Receive outlived e-mail?</label>
        <input type="checkbox"
               id="active" 
               name="active" 
               {{ if .user.Active }} checked {{ end }} 
               {{ if not .user.Verified }} disabled {{ end }}>
        {{ if not .user.Verified }}
          <span>
            You have not yet confirmed your e-mail address.
            <button>xxx</button>
          </span>
        {{ end }}
        <input type="hidden" id="csrf" name="csrf" value="{{ .csrf }}"></input>
      </div>

      <div id="alive">
        <p>
          Today is {{ .todaystr }}.
          You were born on {{ .user.Born }}, 
          which was {{ call .numprinter .alive }} days ago.
        </p>

        {{ if .figures }}
          <p>You have recently outlived:</p>
          <ul class="grid">
            {{ $numprinter := .numprinter }}
            {{ range .figures }}
              <li>
                <a href="https://en.wikipedia.org{{ .Link }}" target="_blank">
                  {{ if .ImgSrc }}
                    <img class="img64" src="https:{{ .ImgSrc }}" alt="{{ .ImgAlt }}"><br>
                  {{ end }}
                  {{ .Name }}<br>
                </a>
                {{ if .Desc }}
                  {{ .Desc }}<br>
                {{ end }}
                {{ .Born }}&mdash;{{ .Died }}<br>
                ({{ call $numprinter .DaysAlive }} days).
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>

    {{ else }}

      <div>
        <form id="login-signup-form" method="POST">
          <input type="hidden" name="csrf" value="{{ .csrf }}"></input>
          <input type="hidden" id="tzoffset" name="tzoffset"></input>
          <label for="email">E-mail address</label>
          <input type="email" id="email" name="email"></input>
          <span id="email-value" style="display: none"></span>
          <button id="login-button-1" disabled type="button">Log in</button>
          <button id="signup-button-1" disabled type="button">Sign up</button>
          <div id="password-div" style="display: none">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"></input>
          </div>
          <button id="login-button-2" type="submit" style="display: none" disabled>Log in</button>
          <div id="datepicker-div" style="display: none">
            <label for="datepicker">Birthdate</label>
            <input id="datepicker" name="born" placeholder="yyyy-mm-dd"></input>
          </div>
          <button id="signup-button-2" type="submit" style="display: none" disabled>Sign up</button>
          <button id="cancel-button" style="display: none" type="button">Cancel</button>
        </form>
      </div>

      {{ if .figures }}

        <p>Today is {{ .todaystr }}. Died on this date:</p>
        <ul class="grid">
          {{ range .figures }}
            <li>
              <a href="https://en.wikipedia.org{{ .Link }}" target="_blank">
                {{ if .ImgSrc }}
                  <img class="img64" src="https:{{ .ImgSrc }}" alt="{{ .ImgAlt }}"><br>
                {{ end }}
                {{ .Name }}<br>
              </a>
              {{ if .Desc }}
                {{ .Desc }}<br>
              {{ end }}
              {{ .Born }}&mdash;{{ .Died }}<br>
              (age {{ .YDAge }}).
            </li>
          {{ end }}
        </ul>

      {{ end }}

    {{ end }}

  </body>
</html>
